<!--begin:#about-->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>About Us</h2>
      <p>The ChordPro standard and reference implementation are free products. Free as in speech.</p>
      <p>The development and maintenance is done by an international group of motivated volunteers.</p>
    </div>
  </div>
  <div class="container features text-center" data-aos="fade-up">
    <div class="section-header">
      <p>If you like our work, please support us. Web sites, storage and bandwidth cost real money. Your donation is
        much appreciated.</p>
    </div>
    <ul class="nav nav-tabs row gy-4 d-flex">
      <li class="nav-item col-6 col-md-4 col-lg-3"></li>
      <li class="nav-item col-6 col-md-4 col-lg-2">
        <a class="nav-link active show"
           href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=WDKWDE6R3KR98&lc=GB&item_name=ChordPro&currency_code=EUR&bn=PP-DonationsBF%3Abtn_donate_LG.gif%3ANonHosted"
           target="_blank">
          <i class="bi bi-paypal color-paypal"></i>
          <h4>PayPal</h4>
        </a>
      </li>
      <li class="nav-item col-6 col-md-4 col-lg-2">
        <a class="nav-link" href="https://ko-fi.com/chordpro" target="_blank">
          <i class="bi bi-cup-hot color-kofi"></i>
          <h4>Buy a Coffee</h4>
        </a>
      </li>
      <li class="nav-item col-6 col-md-4 col-lg-2">
        <a class="nav-link">
          <i class="bi bi-currency-bitcoin color-bitcoin"></i>
          <h4>Bitcoin</h4>
        </a>
      </li>
      <li class="nav-item col-6 col-md-4 col-lg-3"></li>
    </ul>
  </div>
</section>
<!--end:#about-->
