<!--begin:#clients-->
<section id="clients" class="clients">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>ChordPro In Action</h2>
    </div>
  </div>
  <div class="container" data-aos="zoom-out">
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><a href="https://www.chordie.com/" target="_blank"><img src="img/sites/chordie.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://wordpress.org/plugins/chordpress/" target="_blank"><img src="img/sites/chordpress.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://extensions.libreoffice.org/extensions/chordtransposer/" target="_blank"><img src="img/sites/chordtransposer.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://www.zubersoft.com/mobilesheets/" target="_blank"><img src="img/sites/mobilesheets.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://www.worshiptools.com/music-stand" target="_blank"><img src="img/sites/musicstand.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://onsongapp.com/" target="_blank"><img src="img/sites/onsong.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://www.skeed.it/songpress" target="_blank"><img src="img/sites/songpress.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://tenbyten.com/software/songsgen/index.php" target="_blank"><img src="img/sites/songsheet-generator.png" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a href="https://git.sr.ht/~breatheoutbreathein/chordpro-mode.el/" target="_blank"><img src="img/sites/sourcehut.png" class="img-fluid" alt=""></a></div>
      </div>
    </div>
  </div>
</section>
<!--end:#clients-->
