<!--begin:#contact-->
<section id="contact" class="contact">
  <div class="container">
    <div class="section-header">
      <h2>Contact Us</h2>
    </div>
  </div>

  <!--  <div class="map">-->
  <!--    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>-->
  <!--  </div>-->

  <div class="container">
    <div class="row gy-5 gx-lg">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="info">
          <h3>Get in touch</h3>
          <p>You can get in contact with us via email or report bugs in GitHub.</p>
          <p>The forum is a good place to join the user community.</p>
          <div class="info-item d-flex">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h4>Email:</h4>
              <p>info@chordpro.org</p>
            </div>
          </div>
          <div class="info-item d-flex">
            <i class="bi bi-bug flex-shrink-0"></i>
            <div>
              <h4>Report a bug:</h4>
              <p><a href="https://github.com/ChordPro/chordpro">GitHub Issues</a></p>
            </div>
          </div>
          <div class="info-item d-flex">
            <i class="bi bi-chat-quote flex-shrink-0"></i>
            <div>
              <h4>Forum:</h4>
              <p><a href="https://groups.io/g/ChordPro" target="_blank">https://groups.io/g/ChordPro</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
</section>
<!--end:#contact-->
