<!--begin:#cta-->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-out">
    <div class="row g-5">
      <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
        <h3>About <em>ChordPro</em></h3>
        <p>In 1992 Martin Leclerc and Mario Dorion developed a simple text file format to write <i>lead sheets</i>, songs with lyrics and chords,
          and a tool to create neatly printed lead sheets out of these text files. The tool was called <i>chord</i>, and the text files were called <i>chord</i> files.
          It soon became a popular way to write lead sheets and many users and tools adopted this format for similar purposes. For still unknown reasons
          people started calling the files <i class="fw-bold">chordpro</i> files.</p>
        <a class="cta-btn align-self-start" href="https://www.chordpro.org/chordpro/chordpro-history/" target="_blank">More about the ChordPro History...</a>
      </div>
      <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
        <div class="img">
          <img src="img/chordpro/chordpro-text-01.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    </div>
  <div class="container" data-aos="zoom-out">
    <div class="row g-5">
      <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
        <h3>About <em>ChordPro.ORG</em></h3>
	<p>In 2015 a small team of enthousiast ChordPro users took over the maintenance of the ChordPro standard from Martin and Mario, and developped a new reference implementation with many new features.</p>
    </div>
  </div>
</section>
<!--end:#cta-->
