<!--begin:#faq-->
<section id="faq" class="faq">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
        <div class="content px-xl-5">
          <h3>Frequently Asked <strong>Questions</strong></h3>
          <p>Here is a list of popular questions that have been submitted to us. You might find what you need right here.</p>
        </div>
        <div class="accordion accordion-flush px-xl-5" id="faqlist">

          <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
            <h3 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                <i class="bi bi-question-circle question-icon"></i>
                How do I get my fonts right?
              </button>
            </h3>
            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
              <div class="accordion-body">
                <p>ChordPro uses fonts for PDF typesetting. In the config file, fonts are specified for chords, lyrics, page titles and so on.</p>
                <a href="https://www.chordpro.org/chordpro/chordpro-fonts/" class="btn btn-sm btn-outline-secondary">Read more...</a>
              </div>
            </div>
          </div>

          <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
            <h3 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                <i class="bi bi-question-circle question-icon"></i>
                ChordPro supports UNICODE. Then why can’t I see my russian (vietnamese, greek, ...) characters?
              </button>
            </h3>
            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
              <div class="accordion-body">
                <p>ChordPro supports UNICODE and can handle songs written in ASCII, ISO-8859.1 (Latin-1), and UTF-8. But when it comes to producing PDF output, the actual characters (glyphs) that can be shown are limited to the glyphs that are included in the font that is used.</p>
                <a href="https://www.chordpro.org/chordpro/faq-unicode-characters/" class="btn btn-sm btn-outline-secondary">Read more...</a>
              </div>
            </div>
          </div>

          <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
            <h3 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                <i class="bi bi-question-circle question-icon"></i>
                D♯ transposes to D♭ but I want C♯
              </button>
            </h3>
            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
              <div class="accordion-body">
                <p>Chords can be transposed by a number of semitones in the range -12 to +12. If transposing results in accidentals, a <b>positive</b> value will use <b>sharps</b>, while a <b>negative</b> value will use <b>flats</b>.</p>
                <a href="https://www.chordpro.org/chordpro/directives-transpose/" class="btn btn-sm btn-outline-secondary">See also transpose directive...</a>
              </div>
            </div>
          </div>

          <div class="accordion-item" data-aos="fade-up" data-aos-delay="500">
            <h3 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                <i class="bi bi-question-circle question-icon"></i>
                “Unknown chord” for slash chords
              </button>
            </h3>
            <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
              <div class="accordion-body">
                <i class="bi bi-question-circle question-icon"></i>
                <p>By default ChordPro uses a built-in set of chord diagrams. These include all major chords, minor, seventh and most other common chords, buth these do not include slash chords.</p>
                <a href="https://www.chordpro.org/chordpro/faq-slashchords/" class="btn btn-sm btn-outline-secondary">Read more...</a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style="background-image: url('img/faq.jpg');">&nbsp;</div>
    </div>
  </div>
</section>
<!--begin:#faq-->
