<!--begin:#featured-services-->
<section id="featured-services" class="featured-services">
  <div class="container">
    <div class="row gy-4">
      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-music-note-list icon"></i></div>
          <h4><a href="" class="stretched-link">Any Musical Purpose</a></h4>
          <p>Although initially intended for guitarists, it can be used for all kinds of musical purposes.</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-patch-check icon"></i></div>
          <h4><a href="" class="stretched-link">Popular Standard</a></h4>
          <p>ChordPro became a popular way to write lead sheets and many tools adopted its format.</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-pencil-square icon"></i></div>
          <h4><a href="" class="stretched-link">Simple Text Format</a></h4>
          <p>ChordPro is a simple text file format. Any text editor can be used to create and maintain them.</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-braces-asterisk icon"></i></div>
          <h4><a href="" class="stretched-link">Markup</a></h4>
          <p>It is possible to use markup in lyrics and other texts to change the way how these will be displayed.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--end:#featured-services-->
