<!--begin:#footer-->
<footer id="footer" class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h4>ChordPro</h4>
            <p class="mb-3">ChordPro is developed and maintained by an international team of volunteers.</p>
            <p><strong>Email:</strong> info@chordpro.org</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="index.html">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="index.html#about">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="index.html#services">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="terms-of-use.html">Terms of Use</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="data-privacy.html">Data Privacy</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <h4>Support Us</h4>
          <p>The ChordPro standard and reference implementation are free products. Free as in speech. However, web sites, storage and bandwidth cost real money. If you like ChordPro, please consider a small donation.</p>
          <p>
            <i class="bi bi-paypal me-2"></i> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=WDKWDE6R3KR98&lc=GB&item_name=ChordPro&currency_code=EUR&bn=PP-DonationsBF%3Abtn_donate_LG.gif%3ANonHosted">Paypal</a><br>
            <i class="bi bi-cup-hot me-2"></i> <a href="https://ko-fi.com/chordpro">Buy a coffee</a><br>
            <i class="bi bi-currency-bitcoin me-2"></i> 3GBzu3xC9DzVHfYHt9rRgA6qmjNkRfbr9o
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-legal text-center">
    <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
      <div class="d-flex flex-column align-items-center align-items-lg-start">
        <div class="copyright">
          &copy; Copyright <strong><span>ChordPro</span></strong>. All Rights Reserved
        </div>
        <div class="credits fst-italic opacity-50">
          Design based on <a href="https://bootstrapmade.com/herobiz-bootstrap-business-template/" target="_blank">HeroBiz</a> by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>.
        </div>
      </div>
      <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
        <a href="https://twitter.com/ChordPro_Org" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="https://github.com/ChordPro/chordpro" class="github"><i class="bi bi-github"></i></a>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=WDKWDE6R3KR98&lc=GB&item_name=ChordPro&currency_code=EUR&bn=PP-DonationsBF%3Abtn_donate_LG.gif%3ANonHosted" class="paypal"><i class="bi bi-paypal"></i></a>
      </div>
    </div>
  </div>
</footer>
<!--end:#footer-->
