<!--begin:#header-->
<header id="header" class="header fixed-top" data-scrollto-offset="0">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <img src="img/chordpro/chordpro-icon-01-48.png" alt="">
      <h1 class="pt-3 logo-text">Chord<b>Pro</b></h1>
    </a>
    <!--begin:#navbar-->
    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown"><a href="index.html">Home</a></li>
        <li><a class="nav-link scrollto" href="index.html#about">About</a></li>
        <li><a class="nav-link scrollto" href="index.html#services">Program</a></li>
        <li><a class="nav-link scrollto" href="index.html#faq">FAQ</a></li>
        <li><a class="nav-link scrollto" href="index.html#team">Team</a></li>
        <li class="dropdown">
          <a href="#"><span>Support</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="https://www.chordpro.org/chordpro/support-hints-and-tips/">Hints and Tips</a></li>
            <li><a href="https://www.chordpro.org/chordpro/support-faq/">FAQ</a></li>
            <li><a href="https://github.com/ChordPro/chordpro/issues">Report a Bug</a></li>
            <li><a href="https://groups.io/g/ChordPro">User Forum</a></li>
            <hr>
            <li><a href="data-privacy.html">Data Privacy</a></li>
            <li><a href="terms-of-use.html">Terms of Use</a></li>
            <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
    </nav>
    <!--end:#navbar-->
  </div>
</header>
<!--end:#header-->
