<!--begin:hero-animated-->
<section id="hero-animated" class="hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
    <img src="img/chordpro/chordpro-hero-01.png" class="img-fluid animated">
    <h2>Welcome to <span>Chord<b>Pro</b></span></h2>
    <p>This is the official site for ChordPro, a simple text format for the notation of lyrics with chords.</p>
    <div class="d-flex">
      <a href="https://www.chordpro.org/chordpro/chordpro-introduction/" class="btn-get-started scrollto">Get Started</a>
      <a href="https://www.youtube.com/watch?v=Chj-j3_oMzU" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
    </div>
  </div>
</section>
<!--end:hero-animated-->
