<!--begin:#portfolio-->
<section id="portfolio" class="portfolio" data-aos="fade-up">
  <div class="container">
    <div class="section-header">
      <h2>ChordPro In Action</h2>
    </div>
  </div>
  <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">
    <div class="portfolio-isotope" data-portfolio-filter=".filter-example" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

      <ul class="portfolio-filters">
        <li data-filter="*">All</li>
        <li data-filter=".filter-example" class="filter-active">Examples</li>
        <li data-filter=".filter-style">Basic Styles</li>
      </ul>

      <div class="row g-0 portfolio-container">

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-style">
          <img src="img/chordpro/style-chordpro.png" class="img-fluid" alt="Default">
          <div class="portfolio-info">
            <h4>Default</h4>
            <a href="img/chordpro/style-chordpro.png" title="Default" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-style">
          <img src="img/chordpro/style-chordii.png" class="img-fluid" alt="Chord<sub><i>ii</i></sub>">
          <div class="portfolio-info">
            <h4>Chord<sub><i>ii</i></sub></h4>
            <a href="img/chordpro/style-chordii.png" title="Chord<sub><i>ii</i></sub>" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-style">
          <img src="img/chordpro/style-modern1.png" class="img-fluid" alt="Modern1">
          <div class="portfolio-info">
            <h4>Modern1</h4>
            <a href="img/chordpro/style-modern1.png" title="Modern1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-style">
          <img src="img/chordpro/style-modern2.png" class="img-fluid" alt="Modern2">
          <div class="portfolio-info">
            <h4>Modern2</h4>
            <a href="img/chordpro/style-modern2.png" title="Modern2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-style">
          <img src="img/chordpro/style-modern3.png" class="img-fluid" alt="Modern3">
          <div class="portfolio-info">
            <h4>Modern3</h4>
            <a href="img/chordpro/style-modern3.png" title="Modern3" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-style">
          <img src="img/chordpro/style-ukulele.png" class="img-fluid" alt="Ukulele">
          <div class="portfolio-info">
            <h4>Ukulele</h4>
            <a href="img/chordpro/style-ukulele.png" title="Ukulele" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-style">
          <img src="img/chordpro/style-keyboard.png" class="img-fluid" alt="Keyboard">
          <div class="portfolio-info">
            <h4>Keyboard</h4>
            <a href="img/chordpro/style-keyboard.png" title="Keyboard" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-style">
          <img src="img/chordpro/style-dark.png" class="img-fluid" alt="Dark">
          <div class="portfolio-info">
            <h4>Dark</h4>
            <a href="img/chordpro/style-dark.png" title="Dark" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>


        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-example">
          <img src="img/chordpro/example-mollymalone.png" class="img-fluid" alt="Molly Malone">
          <div class="portfolio-info">
            <h4>Molly Malone</h4>
            <a href="img/chordpro/example-mollymalone.png" title="Molly Malone" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-example">
          <img src="img/chordpro/example-background.png" class="img-fluid" alt="Background">
          <div class="portfolio-info">
            <h4>Background</h4>
            <a href="img/chordpro/example-background.png" title="Background" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-example">
          <img src="img/chordpro/example-armenian.png" class="img-fluid" alt="Armenian">
          <div class="portfolio-info">
            <h4>Armenian</h4>
            <a href="img/chordpro/example-armenian.png" title="Armenian" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-example">
          <img src="img/chordpro/example-nepali.png" class="img-fluid" alt="Nepali">
          <div class="portfolio-info">
            <h4>Nepali</h4>
            <a href="img/chordpro/example-nepali.png" title="Nepali" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
<!--end:#portfolio-->



