<!--begin:#portfolio-->
<section id="portfolio" class="portfolio" data-aos="fade-up">
  <div class="container">
    <div class="section-header">
      <h2>ChordPro In Action</h2>
    </div>
  </div>
  <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">
    <div class="portfolio-isotope" data-portfolio-filter=".filter-showcase" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

      <ul class="portfolio-filters">
        <li data-filter="*">All</li>
        <li data-filter=".filter-basic">Basic Styles</li>
        <li data-filter=".filter-showcase" class="filter-active">Examples</li>
      </ul>

      <div class="row g-0 portfolio-container">

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-basic">
          <img src="img/chordpro/examples-default.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Default</h4>
            <a href="img/chordpro/examples-default.png" title="Default" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-basic">
          <img src="img/chordpro/examples-modern1.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Modern1</h4>
            <a href="img/chordpro/examples-modern1.png" title="Modern1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-basic">
          <img src="img/chordpro/examples-modern2.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Modern2</h4>
            <a href="img/chordpro/examples-modern2.png" title="Modern2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-basic">
          <img src="img/chordpro/examples-modern3.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Modern3</h4>
            <a href="img/chordpro/examples-modern3.png" title="Modern3" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-basic">
          <img src="img/chordpro/examples-ukulele.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Ukulele</h4>
            <a href="img/chordpro/examples-ukulele.png" title="Ukulele" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-basic">
          <img src="img/chordpro/examples-keyboard.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Keyboard</h4>
            <a href="img/chordpro/examples-keyboard.png" title="Keyboard" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-basic">
          <img src="img/chordpro/examples-dark.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Dark</h4>
            <a href="img/chordpro/examples-dark.png" title="Dark" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-showcase">
          <img src="img/chordpro/examples-mollymalone.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Molly Malone</h4>
            <a href="img/chordpro/examples-mollymalone.png" title="Molly Malone" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-showcase">
          <img src="img/chordpro/examples-background.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Background</h4>
            <a href="img/chordpro/examples-background.png" title="Background" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-showcase">
          <img src="img/chordpro/examples-armenian.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Armenian</h4>
            <a href="img/chordpro/examples-armenian.png" title="Armenian" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-showcase">
          <img src="img/chordpro/examples-nepali.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Nepali</h4>
            <a href="img/chordpro/examples-nepali.png" title="Nepali" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--begin:#portfolio-->
