<!--begin:#services-->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Features</h2>
      <p>The <strong>ChordPro</strong> program renders ChordPro marked-up input.</p>
      <p>It is a reference implementation and augments the file specification in cases that are insufficiently clear.</p>
    </div>

    <div class="row gy-5">

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="service-item">
          <div class="img">
            <img src="img/program/chordpro-program-pdf.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-file-pdf"></i>
            </div>
            <a href="https://www.chordpro.org/chordpro/chordpro-reference-implementation/#native-pdf-generation" class="stretched-link">
              <h3>Native PDF Generation</h3>
            </a>
            <p>While PostScript was a good choice in 1992, nowadays PDF is much better. View it directly on your tablet and mobile.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="service-item">
          <div class="img">
            <img src="img/program/chordpro-program-unicode.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-file-code"></i>
            </div>
            <a href="https://www.chordpro.org/chordpro/chordpro-reference-implementation/#unicode-support" class="stretched-link">
              <h3>Unicode Support</h3>
            </a>
            <p>ChordPro takes all input in UTF-8 encoded UNICODE but falls back to good old Latin-1 if needed.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="service-item">
          <div class="img">
            <img src="img/program/chordpro-program-notes.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-chat-left-heart"></i>
            </div>
            <a href="https://www.chordpro.org/chordpro/chordpro-reference-implementation/#user-defined-note-naming-systems" class="stretched-link">
              <h3>Custom Tunings and Notes</h3>
            </a>
            <p>Not just C F G on 6-string EADGBE tuned guitar. C D E or Do Re Mi? Nashville or Roman? ChordPro supports alternative tunings and note naming systems.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
        <div class="service-item">
          <div class="img">
            <img src="img/program/chordpro-program-images.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-grid-3x3"></i>
            </div>
            <a href="https://www.chordpro.org/chordpro/directives-image/" class="stretched-link">
              <h3>Images</h3>
            </a>
            <p>Use images to decorate your scores.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
        <div class="service-item">
          <div class="img">
            <img src="img/program/chordpro-program-keyboard.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-bar-chart"></i>
            </div>
            <a href="https://www.chordpro.org/chordpro/chordpro-reference-implementation/#support-for-keyboard-diagrams" class="stretched-link">
              <h3>String and Keyboard Diagrams</h3>
            </a>
            <p>For keyboard players, ChordPro can show keyboard diagrams instead of string diagrams.</p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
        <div class="service-item">
          <div class="img">
            <img src="img/program/chordpro-program-abc.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="bi bi-music-note-beamed"></i>
            </div>
            <a href="https://www.chordpro.org/chordpro/directives-env_abc/" class="stretched-link">
              <h3>Integrated ABC</h3>
            </a>
            <p>Include fragments of musical scores with the integrated ABC support.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!--end:#services-->
