<!DOCTYPE html>
<html lang="en">
<%- include ('_htmlhead.ejs') %>
<body data-bs-theme="light">

<%- include ('_header.ejs') %>
<%- include ('_hero.ejs') %>
<!--begin:#main -->
<main id="main">

  <%- include ('_featured_services.ejs') %>
  <%- include ('_clients.ejs') %>
  <%- include ('_cta.ejs') %>
  <%# include ('_onfocus.ejs') %>
  <%# include ('_features.ejs') %>
  <%- include ('_services.ejs') %>
  <%# include ('_testimonials.ejs') %>
  <%# include ('_pricing.ejs') %>
  <%# include ('_faq.ejs') %>
  <%# include ('_portfolio.ejs') %>
  <%# include ('_team.ejs') %>
  <%# include ('_recent_blog_posts.ejs') %>
  <%- include ('_about.ejs') %>
  <%- include ('_contact.ejs') %>
</main>
<!--end:#main -->

<%- include ('_footer.ejs') %>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- HeroBiz JS File -->
<script src="assets/herobiz/js/main.js"></script>

<!-- ChordPro JS File -->
<script type="module" src="js/chordpro-frontpage.min.js"></script>

</body>
</html>
